---
import App from '../App';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Games</title>
		{import.meta.env.DEV && <script type="module" src="/@vite-plugin-checker-runtime-entry"></script>}
	</head>
	<body>
		<noscript>
			You need to enable JavaScript to run this app.
		</noscript>
		<App client:load />
	</body>
</html>
